<div class="header">

    <div class="left-button">
        <a>
            <button routerLink="/">Blogs</button>
        </a>

        <a>
            <button routerLink="/create">Create Blog</button>
        </a>
    </div>

    <div class="right-button">
        <a>
            <button routerLink="/register">Register</button>
        </a>

        <a>
            <button routerLink="/login">Login</button>
        </a>
        <a>
            <button (click)="signOut()">Sign Out</button>
        </a>

        <a>
            <button routerLink="/user">My Account</button>
        </a>

    </div>

</div>