<div class="header">

    <div class="left-button">
        <a><button>Home</button></a>
        <a *ngIf="isLoggedIn">
            <button routerLink="/">My Blogs</button>
        </a>

        <a  *ngIf="isLoggedIn">
            <button routerLink="/create">Create</button>
        </a>
    </div>

    <div class="right-button">
        <a *ngIf="!isLoggedIn">
            <button routerLink="/login">Login</button>
        </a>

        <a *ngIf="isLoggedIn">
            <button (click)="signOut()">Sign Out</button>
        </a>

        <a>
            <button routerLink="/user">My Account</button>
        </a>

    </div>

</div>