<!-- Simple HTML -->

<!-- <div class="container">
    <h3>{{title}}</h3>
    <input [(ngModel)]="email" id="email" type="text" placeholder="email">
    <input [(ngModel)]="password" type="password" placeholder="password">
    <button (click)="handleLogin()">Login</button>
    <p>Not have an account, register <a routerLink="/register">here</a></p>
</div> -->

<!-- Template Driven -->

<!-- <form #login="ngForm" (ngSubmit)="login.valid && handleLogin(login)">
    <div class="container">
        <h3>Login</h3>

        <input 
        [(ngModel)]="form.email" 
        type="email" 
        name="email" 
        required 
        #primEmail="ngModel"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" 
        placeholder="Email">

        <p *ngIf="primEmail.invalid && login.submitted">
            <span *ngIf="primEmail.errors?.['required']">Email is required.</span>
            <span *ngIf="primEmail.errors?.['pattern']">Email is not in a valid format.</span>
        </p>

        <input 
        [(ngModel)]="form.password" 
        type="password" 
        name="password" 
        required 
        #password="ngModel" 
        placeholder="Password">

        <p *ngIf="password.errors && login.submitted">
            Password is required
        </p>

        <p *ngIf="isLoggedinFailed && login.submitted"> 
            Login Failed: {{errorMessage}}</p>

        <button type="submit">Submit</button>

        <p>Not have an account, register <a routerLink="/register">here</a></p>
        
    </div>
</form> -->

<!-- Reactive Form -->


<!-- <pm-notify [notifyMessage]="notificationMessage" *ngIf="notificationMessage"></pm-notify> -->


<form [formGroup]="form" (ngSubmit)=" handleLogin()">
    <div class="container">
        <h3>Login</h3>

        <input formControlName="email" placeholder="Email">

        <p *ngIf="form.get('email')?.invalid && submitted">

            <span *ngIf="form.get('email')?.hasError('required')">
                Email is required.
            </span>

            <span *ngIf="form.get('email')?.hasError('pattern')">
                Email is not in a valid format.
            </span>
        </p>

        <input type="password" formControlName="password" placeholder="Password">

        <p *ngIf="form.get('password')?.hasError('required') && submitted">
            Password is required
        </p>

        <p *ngIf="isLoggedinFailed && submitted"> 
            Login Failed: {{errorMessage}}
        </p>

        <button type="submit">Submit</button>

        <p>Not have an account, register <a routerLink="/register">here</a></p>
        
    </div>
</form>