<div class="blog-container">
    <button (click)="deleteBlog()">Delete</button>
    <h2>{{blog[0].title}}</h2>
    <p>{{blog[0].createdAt | date}} </p>
    <p>{{blog[0].description}}</p>
    <p>{{blog[0].body}}</p>

    <div class="comments">
        <form #addComment="ngForm" (ngSubmit)="addComment.valid && onSubmit()" >
            <input 
            type="text" 
            name="comments"
            [(ngModel)]="content" 
            #priComment="ngModel"
            required>
            <button>Add</button>
            <p *ngIf="priComment.invalid && addComment.submitted">Comment is required</p>
        </form>
    </div>
</div>
