.blog-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 2rem;
    background-color: antiquewhite;
}

.blog-container input {
    height: 60px;
    /* width: 50%; */
    background-color: none;
    border-radius: 7px;
}

.blog-title {
    /* border: 2px red solid; */
    margin-left: 20px;
    height: 30px;
}

.blog-date {
    /* border: 2px rgb(38, 87, 187) solid; */
    margin-left: 20px;
    height: 30px;

}

.blog-description {
    /* border: 2px rgb(10, 11, 12) solid; */
    margin-left: 20px;
}